{% extends 'blank.html' %}
{% block title %}Editar diagn&oacute;stico{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissable"{% endif %} style="margin-left:18px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="panel panel-default" style="margin-top: 40px">
                        <div class="panel-heading"><h4><b>Editar diagn&oacute;stico</b></h4></div>
                        <div class="panel-body">

                            <form class="form-vertical" method="post" action="{% url 'diagnostico:GuardarDiagnostico' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Paciente:</label>
                                                <select class="form-control" id="paciente_id" name="paciente" autofocus disabled>
                                                {% if pacientes %}
                                                    {% for paciente in pacientes %}
                                                        <option value="{{ paciente.id }}" {% if paciente.id == diagnostico.paciente.id %}selected{% endif %}>{{ paciente.nombre_completo }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Condiciones previas:</label>
                                                <textarea class="form-control" rows="4" name="condicionesprevias" maxlength="100" placeholder="Condiciones previas">{{diagnostico.condiciones_previas}}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Area afectada:</label>
                                                <textarea class="form-control" rows="4" name="areaafectada" maxlength="1000" placeholder="Area afectada">{{diagnostico.area_afectada}}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Receta:</label>
                                                <textarea class="form-control" rows="4" name="receta" maxlength="1000" placeholder="Receta">{{diagnostico.area_afectada}}</textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Rutinas:</label>

                                                <input type="hidden" id="cantidadrutinas" name="cantidadrutinas" value="{{ subrutinas|length }}"/>
                                                    <div  class="row">
                                                        <div class="panel-body" id="accordion-parent">
                                                            {% if subrutinas %}
                                                                {% for subrutina in subrutinas %}
                                                                    <div class="panel-group" id="accordion{{ forloop.counter }}">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <h4 class="panel-title">
                                                                            <input type="hidden" id="idaccordion" name="idaccordion" value="{{ forloop.counter }}"/>
                                                                            <a data-toggle="collapse" id="idheading" data-parent="#accordion{{ forloop.counter }}" style="text-decoration: none;" href="#collapse{{ forloop.counter }}">#{{ forloop.counter }}</a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
                                                                        <div class="panel-body">
                                                                            <div class="row">
                                                                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                                                                    <label class="control-label" for="nombrerutina">Nombre:</label>
                                                                                    <textarea class="form-control" rows="1" name="nombrerutina" maxlength="500" placeholder="Nombre" required>{{ subrutina.nombre }}</textarea>
                                                                                </div>
                                                                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                                                                    <label class="control-label" for="descripcionrutina">Descripci&oacute;n:</label>
                                                                                    <textarea class="form-control" rows="1" name="descripcionrutina" maxlength="500" placeholder="Descripci&oacute;n" required>{{ subrutina.detalle }}</textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" style="padding-top: 20px">
                                                                                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                                                                    <label class="control-label" for="repeticionesrutina">Repeticiones:</label>
                                                                                    <input class="form-control" type="number" step="1" min="0" max="999" name="repeticionesrutina" placeholder="Cantidad" value="{{ subrutina.repeticiones }}" required/>
                                                                                </div>
                                                                                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                                                                    <label class="control-label" for="vecesrutina">Veces por repetici&oacute;n:</label>
                                                                                    <input class="form-control" type="number" step="1" min="0" max="999" name="vecesrutina" placeholder="Cantidad" value="{{ subrutina.veces }}" required/>
                                                                                </div>
                                                                                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                                                                    <label class="control-label" for="descansorutina">Descanso entre repetici&oacute;n:</label>
                                                                                    <input class="form-control" type="number" step="1" min="0" max="999" name="descansorutina" placeholder="Minutos" value="{{ subrutina.descanso }}" required/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" style="padding-top: 20px">
                                                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                                                    <label class="control-label" for="videoenlace">Video demostraci&oacute;n:</label>
                                                                                    <input class="form-control" maxlength="1000" name="videoenlace" placeholder="Enlace al video" value="{{ subrutina.link }}"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Actualizar diagnóstico</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="diagnostico_id" value="{{ diagnostico.id }}" />
                                </form>

                        </div>
                    </div>
                </div></div></div></div>
{% endblock %}
{% block scriptDown %}
        <script>
            var num = {{ subrutinas|length }};

            function eliminarAccordion(id) {
                $('#accordion' + id).remove();
                $('#cantidadrutinas').attr('value', $('#accordion-parent').children().length);
            }

            $('#btn-agregarrutina').click( function() {
                num = num + 1;
                numstr = num.toString();

                var nuevoaccordion = "<div class=\"panel-group\" id=\"accordion"+numstr+"\">\n" +
"                                                <div class=\"panel panel-default\">\n" +
"                                                    <div class=\"panel-heading\">\n" +
"                                                        <h4 class=\"panel-title\">\n" +
"                                                            <input type=\"hidden\" id=\"idaccordion\" name=\"idaccordion\" value=\""+numstr+"\"/>\n" +
"                                                            <a data-toggle=\"collapse\" id=\"idheading\" data-parent=\"#accordion"+numstr+"\" style=\"text-decoration: none;\" href=\"#collapse"+numstr+"\">#"+numstr+"</a>\n" +
"                                                            <a role=\"button\" id=\"closeaccordion"+numstr+"\" onclick=\"eliminarAccordion("+numstr+")\"><i class=\"fa fa-close pull-right\"></i></a>"+
"                                                        </h4>\n" +
"                                                    </div>\n" +
"                                                    <div id=\"collapse"+numstr+"\" class=\"panel-collapse collapse in\">\n" +
"                                                        <div class=\"panel-body\">\n" +
"                                                            <div class=\"row\">\n" +
"                                                                <div class=\"col-lg-6 col-md-6 col-xs-6 col-sm-6\">\n" +
"                                                                    <label class=\"control-label\" for=\"nombrerutina\">Nombre:</label>\n" +
"                                                                    <textarea class=\"form-control\" rows=\"1\" name=\"nombrerutina\" maxlength=\"500\" placeholder=\"Nombre\" required></textarea>\n" +
"                                                                </div>\n" +
"                                                                <div class=\"col-lg-6 col-md-6 col-xs-6 col-sm-6\">\n" +
"                                                                    <label class=\"control-label\" for=\"descripcionrutina\">Descripci&oacute;n:</label>\n" +
"                                                                    <textarea class=\"form-control\" rows=\"1\" name=\"descripcionrutina\" maxlength=\"500\" placeholder=\"Descripci&oacute;n\" required></textarea>\n" +
"                                                                </div>\n" +
"                                                            </div>\n" +
"                                                            <div class=\"row\" style=\"padding-top: 20px\">\n" +
"                                                                <div class=\"col-lg-4 col-md-4 col-xs-4 col-sm-4\">\n" +
"                                                                    <label class=\"control-label\" for=\"repeticionesrutina\">Repeticiones:</label>\n" +
"                                                                    <input class=\"form-control\" type=\"number\" step=\"1\" min=\"0\" max=\"999\" name=\"repeticionesrutina\" placeholder=\"Cantidad\" required/>\n" +
"                                                                </div>\n" +
"                                                                <div class=\"col-lg-4 col-md-4 col-xs-4 col-sm-4\">\n" +
"                                                                    <label class=\"control-label\" for=\"vecesrutina\">Veces por repetici&oacute;n:</label>\n" +
"                                                                    <input class=\"form-control\" type=\"number\" step=\"1\" min=\"0\" max=\"999\" name=\"vecesrutina\" placeholder=\"Cantidad\" required/>\n" +
"                                                                </div>\n" +
"                                                                <div class=\"col-lg-4 col-md-4 col-xs-4 col-sm-4\">\n" +
"                                                                    <label class=\"control-label\" for=\"descansorutina\">Descanso entre repetici&oacute;n:</label>\n" +
"                                                                    <input class=\"form-control\" type=\"number\" step=\"1\" min=\"0\" max=\"999\" name=\"descansorutina\" placeholder=\"Minutos\" required/>\n" +
"                                                                </div>\n" +
"                                                            </div>\n" +
"                                                            <div class=\"row\" style=\"padding-top: 20px\">\n" +
"                                                                <div class=\"col-lg-12 col-md-12 col-xs-12 col-sm-12\">\n" +
"                                                                    <label class=\"control-label\" for=\"videoenlace\">Video demostraci&oacute;n:</label>\n" +
"                                                                    <input class=\"form-control\" type=\"text\" maxlength=\"1000\" name=\"videoenlace\" placeholder=\"Enlace al video\"/>\n" +
"                                                                </div>\n" +
"                                                            </div>\n" +
"                                                        </div>\n" +
"                                                    </div>\n" +
"                                                </div>\n" +
"                                            </div>";
                $('#accordion-parent').append(nuevoaccordion)
                $('#cantidadrutinas').attr('value', $('#accordion-parent').children().length);
            });
        </script>
        <script>
            $('#textarea').keyup(validarExpresion);

                function validarExpresion() {
                    var errorMsg = "Utiliza un formato que coincida con el solicitado.";
                    var textarea = this;
                    var pattern = new RegExp('^' + $(textarea).attr('pattern') + '$');
                    // check each line of text
                    $.each($(this).val().split("\n"), function () {
                        // check if the line matches the pattern
                        var hasError = !this.match(pattern);

                        if (typeof textarea.setCustomValidity === 'function') {
                            textarea.setCustomValidity(hasError ? errorMsg : '');

                        } else {
                            // Not supported by the browser, fallback to manual error display...
                            $(textarea).toggleClass('error', !!hasError);
                            $(textarea).toggleClass('ok', !hasError);
                            if (hasError) {
                                $(textarea).attr('title', errorMsg);
                            } else {
                                $(textarea).removeAttr('title');
                            }
                        }
                        return !hasError;
                    });
                }
            </script>
{% endblock %}