<!-- Modal Dialog -->
<div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Eliminar permanentemente</h4>
      </div>
      <div class="modal-body">
        <p>Esta seguro?</p>
      </div>
      <div class="modal-footer">
          <form action="{% url 'diagnostico:EliminarDiagnostico' diagnostico.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="diagnostico_id" value="{{ diagnostico.id }}" />
                {# <button type="submit" class="btn btn-sm btn-danger" >  #}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" id="confirm">Eliminar</button>
          </form>

      </div>
    </div>
  </div>
</div>