{% extends 'blank.html' %}
{% load static %}
{% load l10n %}
{% block title %}Nuevo diagn&oacute;stico{% endblock %}
<!--{% block jqueryUI %}-->
    <!--<link href="{% static 'vendor/jquery/jquery-ui.min.css' %}" rel="stylesheet">-->
    <!--<link href="{% static 'vendor/jquery/jquery-ui.structure.min.css' %}" rel="stylesheet">-->
    <!--<link href="{% static 'vendor/jquery/jquery-ui.theme.min.css' %}" rel="stylesheet">-->
    <!--<script src="{% static 'vendor/jquery/jquery-ui.min.js' %}"></script>-->
    <!--<script src="{% static 'sb-admin/js/agregar.js' %}"></script>-->
<!--{% endblock %}-->
{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissable"{% endif %} style="margin-left:18px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="panel panel-default" style="margin-top: 40px">
                        <div class="panel-heading"><h4><b>Ingrese los datos de un nuevo diagn&oacute;stico</b></h4></div>
                        <div class="panel-body">

                            <form class="form-vertical" method="post" action="{% url 'diagnostico:CrearDiagnostico' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Paciente:</label>
                                                <select class="form-control" id="paciente_id" name="paciente" autofocus required>
                                                {% if pacientes %}
                                                    {% for paciente in pacientes %}
                                                        <option value="{{ paciente.id }}">{{ paciente.nombre_completo }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Condiciones previas:</label>
                                                <textarea id="textarea" class="form-control" rows="4" name="condicionesprevias" maxlength="1000" placeholder="Descripción de las condiciones previas" pattern="\w+" required></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Area afectada:</label>
                                                <textarea id="textarea" class="form-control" rows="4" name="areaafectada" maxlength="1000" placeholder="Descripción de la área afectada" pattern="\w+" required></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Receta:</label>
                                                <textarea id="textarea" class="form-control" rows="4" name="receta" maxlength="1000" placeholder="Descripción de la receta" pattern="[a-z]+" required></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Rutina:</label>
                                                <br>
                                                    <div  class="row">
                                                        <div class="panel-body">
                                                                <div class="panel-group" id="accordion">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <h4 class="panel-title">
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Rutina Completa</a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseOne" class="panel-collapse collapse in">
                                                                            <div class="panel-body">
                                                                                <label class="control-label">nombre:</label>
                                                                                <textarea class="form-control" rows="1" name="tituloRutina" maxlength="100" placeholder="nombre de la rutina"></textarea>
                                                                                <br>
                                                                                <textarea class="form-control" id="nombre" rows="4" style="margin-left: 5px" name="nombre" maxlength="100" placeholder="nombre del Ejercicio"></textarea>
                                                                                <textarea class="form-control" id="detalle" rows="4" style="margin-left: 5px" name="detalle" maxlength="1000" placeholder="Detalle del ejercicio"></textarea>
                                                                                <textarea class="form-control" id="series" rows="1" style="margin-left: 5px" cols="15" name="series" maxlength="2" placeholder="#series"></textarea>
                                                                                <textarea class="form-control" id="repeticiones" rows="1" style="margin-left: 5px" cols="15" name="repeticiones" maxlength="2" placeholder="#repeticiones"></textarea>
                                                                                <textarea class="form-control" id="descanso" rows="1" style="margin-left: 5px" cols="15" name="descanso" maxlength="2" placeholder="minutos descanso"></textarea>
                                                                                <textarea class="form-control" id="enlace" rows="1" cols="60" name="url" maxlength="400" placeholder="enlace video"></textarea>
                                                                                <br>
                                                                                <button type="button" id="add" class="btn btn-default" style="float: left">Agregar subrutina</button>
                                                                                <br>
                                                                                <table id="rutinas">
                                                                                        <tr>
                                                                                            <th class="titulo">Ejercicios</th>
                                                                                            <th class="titulo">Detalle</th>
                                                                                            <th class="titulo">Series</th>
                                                                                            <th class="titulo">Repeticiones</th>
                                                                                            <th class="titulo">Descanso(min)</th>
                                                                                            <th class="titulo">Enlace Video</th>
                                                                                        </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--<div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <h4 class="panel-title">
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Descripcion rutina</a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseTwo" class="panel-collapse collapse">
                                                                            <div class="panel-body">

                                                                               </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <h4 class="panel-title">
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Descripcion rutina</a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseThree" class="panel-collapse collapse">
                                                                            <div class="panel-body">

                                                                            </div>
                                                                        </div>
                                                                    </div>-->
                                                                </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <button id="submit" type="submit" class="btn btn-success">Crear diagnóstico</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                        </div>
                    </div>
                </div></div></div></div>
    {% block scriptDown %}
    <script>
    $('#textarea').keyup(validarExpresion);

        function validarExpresion() {
            var errorMsg = "Utiliza un formato que coincida con el solicitado.";
            var textarea = this;
            var pattern = new RegExp('^' + $(textarea).attr('pattern') + '$');
            // check each line of text
            console.log($(textarea).attr('pattern'))
            $.each($(this).val().split("\n"), function () {
                // check if the line matches the pattern
                var hasError = !this.match(pattern);

                if (typeof textarea.setCustomValidity === 'function') {
                    textarea.setCustomValidity(hasError ? errorMsg : '');

                } else {
                    // Not supported by the browser, fallback to manual error display...
                    $(textarea).toggleClass('error', !!hasError);
                    $(textarea).toggleClass('ok', !hasError);
                    if (hasError) {
                        $(textarea).attr('title', errorMsg);
                    } else {
                        $(textarea).removeAttr('title');
                    }
                }
                return !hasError;
            });
        }
    </script>
{% endblock %}
{% endblock %}

