{% extends 'blank.html' %}
{% load l10n %}
{% block title %}Nuevo diagn&oacute;stico{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissable"{% endif %} style="margin-left:18px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="panel panel-default" style="margin-top: 40px">
                        <div class="panel-heading"><h4><b>Ingrese los datos de un nuevo diagn&oacute;stico</b></h4></div>
                        <div class="panel-body">

                            <form class="form-vertical" method="post" action="{% url 'diagnostico:CrearDiagnostico' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Paciente:</label>
                                                <select class="form-control" id="paciente_id" name="paciente" autofocus required>
                                                {% if pacientes %}
                                                    {% for paciente in pacientes %}
                                                        <option value="{{ paciente.id }}">{{ paciente.nombre_completo }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Condiciones previas:</label>
                                                <textarea class="form-control" rows="4" name="condicionesprevias" maxlength="1000" placeholder="Descripción de las condiciones previas"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Area afectada:</label>
                                                <textarea class="form-control" rows="4" name="areaafectada" maxlength="1000" placeholder="Descripción de la área afectada"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Receta:</label>
                                                <textarea class="form-control" rows="4" name="receta" maxlength="1000" placeholder="Descripción de la receta"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Rutina:</label>
                                                <!--<button type="button" class="btn btn-default" style="float: right">Agregar rutina</button>-->

                                                    <div  class="row">
                                                        <div class="panel-body">
                                                                <div class="panel-group" id="accordion">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <h4 class="panel-title">
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Descripcion rutina</a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseOne" class="panel-collapse collapse in">
                                                                            <div class="panel-body">
                                                                                <label class="control-label">nombre:</label>
                                                                                <textarea class="form-control" rows="1" name="tituloRutina" maxlength="100" placeholder="nombre de la rutina"></textarea>
                                                                                <table>
                                                                                        <tr>
                                                                                            <th class="titulo">Ejercicios</th>
                                                                                            <th class="titulo">Detalle</th>
                                                                                            <th class="titulo">Series</th>
                                                                                            <th class="titulo">Repeticiones</th>
                                                                                            <th class="titulo">Descanso(min)</th>
                                                                                            <th class="titulo">Enlace Video</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><textarea class="form-control" rows="4" name="tituloEjercicio" maxlength="100" placeholder="nombre del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="4" name="detalleEjercicio" maxlength="1000" placeholder="Detalle del ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="3" name="seriesEjercicio" maxlength="2" placeholder="#series del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="6" name="repeticionEjercicio" maxlength="2" placeholder="#repeticiones del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="3" name="descansoEjercicio" maxlength="2" placeholder="minutos descanso"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="100" name="urlEjercicio" maxlength="400" placeholder="enlace video"></textarea></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><textarea class="form-control" rows="4" name="tituloEjercicio" maxlength="100" placeholder="nombre del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="4" name="detalleEjercicio" maxlength="1000" placeholder="Detalle del ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="3" name="seriesEjercicio" maxlength="2" placeholder="#series del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="6" name="repeticionEjercicio" maxlength="2" placeholder="#repeticiones del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="3" name="descansoEjercicio" maxlength="2" placeholder="minutos descanso"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="100" name="urlEjercicio" maxlength="400" placeholder="enlace video"></textarea></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><textarea class="form-control" rows="4" name="tituloEjercicio" maxlength="100" placeholder="nombre del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="4" name="detalleEjercicio" maxlength="1000" placeholder="Detalle del ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="3" name="seriesEjercicio" maxlength="2" placeholder="#series del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="6" name="repeticionEjercicio" maxlength="2" placeholder="#repeticiones del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="3" name="descansoEjercicio" maxlength="2" placeholder="minutos descanso"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="100" name="urlEjercicio" maxlength="400" placeholder="enlace video"></textarea></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><textarea class="form-control" rows="4" name="tituloEjercicio" maxlength="100" placeholder="nombre del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="4" name="detalleEjercicio" maxlength="1000" placeholder="Detalle del ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="3" name="seriesEjercicio" maxlength="2" placeholder="#series del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="6" name="repeticionEjercicio" maxlength="2" placeholder="#repeticiones del Ejercicio"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="3" name="descansoEjercicio" maxlength="2" placeholder="minutos descanso"></textarea></td>
                                                                                            <td><textarea class="form-control" rows="1" cols="100" name="urlEjercicio" maxlength="400" placeholder="enlace video"></textarea></td>
                                                                                        </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--<div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <h4 class="panel-title">
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Descripcion rutina</a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseTwo" class="panel-collapse collapse">
                                                                            <div class="panel-body">

                                                                               </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <h4 class="panel-title">
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Descripcion rutina</a>
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseThree" class="panel-collapse collapse">
                                                                            <div class="panel-body">

                                                                            </div>
                                                                        </div>
                                                                    </div>-->
                                                                </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Crear diagnóstico</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                        </div>
                    </div>
                </div></div></div></div>
{% endblock %}