{% extends 'blank.html' %}
{% load l10n %}
{% block title %}Nuevo diagn&oacute;stico de nutrici&oacute;n{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissable"{% endif %} style="margin-left:18px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="panel panel-default" style="margin-top: 40px">
                        <div class="panel-heading"><h4><b>Ingrese los datos de un nuevo diagn&oacute;stico de nutrici&oacute;n</b></h4></div>
                        <div class="panel-body">

                            <form class="form-vertical" method="post" action="{% url 'diagnostico:CrearDiagnostico' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Paciente:</label>
                                                <select class="form-control" id="paciente_id" name="paciente" autofocus required>
                                                {% if pacientes %}
                                                    {% for paciente in pacientes %}
                                                        <option value="{{ paciente.id }}">{{ paciente.nombre_completo }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Condiciones previas:</label>
                                                <textarea id="textarea" class="form-control" rows="2" name="condicionesprevias" maxlength="1000" placeholder="Descripción de las condiciones previas" pattern="[\w\p ]+" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Dieta:</label>
                                                <textarea id="textarea" class="form-control" rows="2" name="dietadescripcion" maxlength="1000" placeholder="Descripción de la dieta" pattern="[\w\p ]+" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                    <div class="panel-group" id="accordion">
                                                        {% for key, dia in dias %}
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}" aria-expanded="false" class="collapsed" style="text-decoration: none;">{{ dia }}</a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse{{ key }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                    <div class="panel-body">
                                                                        <div class="input-group">
                                                                              <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;Desayuno</span>
                                                                              <input type="text" class="form-control" placeholder="Detalle" aria-describedby="basic-addon1" name="{{ dia }}_Desayuno">
                                                                        </div>
                                                                        <div class="input-group">
                                                                              <span class="input-group-addon" id="basic-addon1">&nbsp;Colaci&oacute;n #1</span>
                                                                              <input type="text" class="form-control" placeholder="Detalle" aria-describedby="basic-addon2" name="{{ dia }}_Colacion1">
                                                                        </div>
                                                                        <div class="input-group">
                                                                              <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;Almuerzo</span>
                                                                              <input type="text" class="form-control" placeholder="Detalle" aria-describedby="basic-addon3" name="{{ dia }}_Almuerzo">
                                                                        </div>
                                                                        <div class="input-group">
                                                                              <span class="input-group-addon" id="basic-addon1">Colaci&oacute;n #2</span>
                                                                              <input type="text" class="form-control" placeholder="Detalle" aria-describedby="basic-addon4" name="{{ dia }}_Colacion2">
                                                                        </div>
                                                                        <div class="input-group">
                                                                              <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cena</span>
                                                                              <input type="text" class="form-control" placeholder="Detalle" aria-describedby="basic-addon5" name="{{ dia }}_Cena">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        {% endfor %}
                                                </div>

                                                <!-- .panel-body -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group center-block">
                                                <button id="submit" type="submit" class="btn btn-primary">Crear diagnóstico</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                        </div>
                    </div>
                </div></div></div></div>
{% endblock %}

{% block scriptDown %}
    <script>
            $('#textarea').keyup(validarExpresion);

                function validarExpresion() {
                    var errorMsg = "Utiliza un formato que coincida con el solicitado.";
                    var textarea = this;
                    var pattern = new RegExp('^' + $(textarea).attr('pattern') + '$');
                    // check each line of text
                    $.each($(this).val().trim().split("\n"), function () {
                        // check if the line matches the pattern
                        var hasError = !this.match(pattern);

                        if (typeof textarea.setCustomValidity === 'function') {
                            textarea.setCustomValidity(hasError ? errorMsg : '');

                        } else {
                            // Not supported by the browser, fallback to manual error display...
                            $(textarea).toggleClass('error', !!hasError);
                            $(textarea).toggleClass('ok', !hasError);
                            if (hasError) {
                                $(textarea).attr('title', errorMsg);
                            } else {
                                $(textarea).removeAttr('title');
                            }
                        }
                        return !hasError;
                    });
                }
            </script>
{% endblock %}