{% extends 'blank.html' %}
{% load l10n %}
{% block title %}Editar diagn&oacute;stico{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissable"{% endif %} style="margin-left:18px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="panel panel-default" style="margin-top: 40px">
                        <div class="panel-heading"><h4><b>Editar diagn&oacute;stico</b></h4></div>
                        <div class="panel-body">

                            <form class="form-vertical" method="post" action="{% url 'diagnostico:GuardarDiagnostico' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Paciente:</label>
                                                <select class="form-control" id="paciente_id" name="paciente" autofocus disabled>
                                                {% if pacientes %}
                                                    {% for paciente in pacientes %}
                                                        <option value="{{ paciente.id }}" {% if paciente.id == diagnostico.paciente.id %}selected{% endif %}>{{ paciente.nombre_completo }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Altura:</label>
                                                    <input class="form-control" {% if diagnostico %}value="{{ diagnostico.altura|unlocalize }}"{% endif %} type="number" step="0.1" min="1.0" name="altura" placeholder="Altura en centímetros"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">M&uacute;sculo:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.musculo|unlocalize }}"{% endif %} type="number" step="1" min="1" name="musculo" placeholder="Porcentaje muscular"/>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Peso:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.peso|unlocalize }}"{% endif %} type="number" step="0.1" min="1.0" name="peso" placeholder="Peso en kilogramos"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Grasa visceral</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.grasa_visceral|unlocalize }}"{% endif %} type="number" step="1" min="1" name="grasavisceral" placeholder="Grasa visceral"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                            <label class="control-label">Imc:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.imc|unlocalize }}"{% endif %} type="number" step="0.1" min="1.0" name="imc" placeholder="Indice de masa corporal"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Grasa:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.grasa_porcentaje|unlocalize }}"{% endif %} type="number" step="1" min="1" name="grasa" placeholder="Porcentaje grasa"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Cuello:</label>
                                                    <input class="form-control" {% if diagnostico %}value="{{ diagnostico.cuello|unlocalize }}"{% endif %} type="number" step="0.1" min="1.0" name="cuello" placeholder="Cuello"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Brazo derecho:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.brazo_derecho|unlocalize }}"{% endif %} type="number" step="1" min="1" name="brazoderecho" placeholder="Brazo derecho"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Antebrazo izquierdo:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.antebrazo_izquierdo|unlocalize }}"{% endif %} type="number" step="1" min="1" name="antebrazoizquierdo" placeholder="Antebrazo izquierdo"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Muslo derecho:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.muslo_derecho|unlocalize }}"{% endif %} type="number" step="1" min="1" name="musloderecho" placeholder="Muslo derecho"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Pantorrilla izquierda:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.pantorrilla_izquierda|unlocalize }}"{% endif %} type="number" step="1" min="1" name="pantorrillaizquierda" placeholder="Pantorrilla izquierda"/>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Hombros:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.hombros|unlocalize }}"{% endif %} type="number" step="0.1" min="1.0" name="hombros" placeholder="Hombros"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Brazo izquierdo:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.brazo_izquierdo|unlocalize }}"{% endif %} type="number" step="1" min="1" name="brazoizquierdo" placeholder="Brazo izquierdo"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Cintura:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.cintura|unlocalize }}"{% endif %} type="number" step="1" min="1" name="cintura" placeholder="Cintura"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Muslo izquierdo:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.muslo_izquierdo|unlocalize }}"{% endif %} type="number" step="1" min="1" name="musloizquierdo" placeholder="Muslo izquierdo"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                            <label class="control-label">Pecho:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.pecho|unlocalize }}"{% endif %} type="number" step="0.1" min="1.0" name="pecho" placeholder="Pecho"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Antebrazo derecho:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.antebrazo_derecho|unlocalize }}"{% endif %} type="number" step="1" min="1" name="antebrazoderecho" placeholder="Antebrazo derecho"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Cadera:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.cadera|unlocalize }}"{% endif %} type="number" step="1" min="1" name="cadera" placeholder="Cadera"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Pantorrilla derecha:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.pantorrilla_derecha|unlocalize }}"{% endif %} type="number" step="1" min="1" name="pantorrilladerecha" placeholder="Pantorrilla derecha"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Flexiones:</label>
                                                    <input class="form-control" {% if diagnostico %}value="{{ diagnostico.flexiones|unlocalize }}"{% endif %} type="number" step="0.1" min="1.0" name="flexiones" placeholder="Flexiones"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Espinales:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.espinales|unlocalize }}"{% endif %} type="number" step="1" min="1" name="espinales" placeholder="Espinales"/>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Cadera arriba:</label>
                                                    <input class="form-control" {% if diagnostico %}value="{{ diagnostico.cadera_arriba|unlocalize }}"{% endif %} type="number" step="1" min="1" name="caderaarriba" placeholder="Cadera arriba"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Lumbares:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.lumbares|unlocalize }}"{% endif %} type="number" step="1" min="1" name="lumbares" placeholder="Lumbares"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Abdomen:</label>
                                                    <input class="form-control" {% if diagnostico %}value="{{ diagnostico.abdomen|unlocalize }}"{% endif %} type="number" step="1" min="1" name="abdomen" placeholder="Abdomen"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Sentadillas:</label>
                                                <input class="form-control" {% if diagnostico %}value="{{ diagnostico.sentadillas|unlocalize }}"{% endif %} type="number" step="1" min="1" name="sentadillas" placeholder="Sentadillas"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Condiciones previas:</label>
                                                <textarea class="form-control" rows="2" name="condicionesprevias" maxlength="200" placeholder="Condiciones previas">{% if diagnostico %}{{ diagnostico.condiciones_previas }}{% endif %}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Rutina:</label>
                                                <textarea class="form-control" rows="2" name="rutina" maxlength="200" placeholder="Rutina">{% if diagnostico %}{{ diagnostico.rutina }}{% endif %}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Area afectada:</label>
                                                <textarea class="form-control" rows="2" name="areaafectada" maxlength="200" placeholder="Area afectada">{% if diagnostico %}{{ diagnostico.area_afectada }}{% endif %}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Receta:</label>
                                                <textarea class="form-control" rows="2" name="receta" maxlength="200" placeholder="Receta">{% if diagnostico %}{{ diagnostico.receta }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Actualizar diagnóstico</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="diagnostico_id" value="{{ diagnostico.id }}" />
                                </form>

                        </div>
                    </div>
                </div></div></div></div>
{% endblock %}