{% extends 'blank.html' %}
{% load l10n %}
{% block title %}Editar diagn&oacute;stico{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissable"{% endif %} style="margin-left:18px;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="panel panel-default" style="margin-top: 40px">
                        <div class="panel-heading"><h4><b>Editar diagn&oacute;stico</b></h4></div>
                        <div class="panel-body">

                            <form class="form-vertical" method="post" action="{% url 'diagnostico:GuardarDiagnostico' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Paciente:</label>
                                                <select class="form-control" id="paciente_id" name="paciente" autofocus disabled>
                                                {% if pacientes %}
                                                    {% for paciente in pacientes %}
                                                        <option value="{{ paciente.id }}" {% if paciente.id == diagnostico.paciente.id %}selected{% endif %}>{{ paciente.nombre_completo }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Condiciones previas:</label>
                                                <textarea class="form-control" rows="2" name="condicionesprevias" maxlength="200" placeholder="Condiciones previas">{% if diagnostico %}{{ diagnostico.condiciones_previas }}{% endif %}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Rutina:</label>
                                                <textarea class="form-control" rows="2" name="rutina" maxlength="200" placeholder="Rutina">{% if diagnostico %}{{ diagnostico.rutina }}{% endif %}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Area afectada:</label>
                                                <textarea class="form-control" rows="2" name="areaafectada" maxlength="200" placeholder="Area afectada">{% if diagnostico %}{{ diagnostico.area_afectada }}{% endif %}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Receta:</label>
                                                <textarea class="form-control" rows="2" name="receta" maxlength="200" placeholder="Receta">{% if diagnostico %}{{ diagnostico.receta }}{% endif %}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Actualizar diagnóstico</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="diagnostico_id" value="{{ diagnostico.id }}" />
                                </form>

                        </div>
                    </div>
                </div></div></div></div>
{% endblock %}