{% extends 'blank.html' %}
{% load l10n %}
{% load staticfiles %}
{% block title %}Reportes {% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script type="text/javascript">
    angular.module('app', [])
        .config(["$interpolateProvider", (xyz) => {
            xyz.startSymbol('{[{').endSymbol('}]}');
        }])
        .controller('main', ["$http", "$scope", (net, global)=>{

            NProgress.start();
            net.get("/diagnostico/reporte/")
              .then((res) => {
                  global.pacientes = res.data.usuarios;
                  console.log(global.pacientes);
                  NProgress.done();
              }, (e) => {
                  NProgress.done()
                  alert("No se ha podido cargar la informacion")                  
              })

            global.generar = (paciente) => {
                NProgress.start();
                pdf(paciente);
            }


        }])
</script>
<div id="page-wrapper" ng-app="app">
  <div class="container-fluid" ng-controller="main">
    <div class="panel panel-default" style="margin-top: 40px">
        <div class="panel-heading"><h4><b>Generar reportes de diagnostico por paciente</b></h4></div>

        <div class="panel-body">
          <div class="container-fluid">
                <div >
                    <div class="form-group">
                      <input ng-model="buscar.nombre" class="form-control" placeholder="Filtrar por nombre"></input>
                      <table style="margin-top: 15px;" class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Ocupacion</th>
                              <th>Genero</th>
                              <th># DIag.</th>
                              <th style="text-align: center;">Generar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="paciente in pacientes | orderBy:'nombre' | filter:buscar">
                              <td>{[{paciente.nombre}]}</td>
                              <td>{[{paciente.apellido}]}</td>
                              <td>{[{paciente.ocupacion}]}</td>
                              <td>{[{paciente.genero}]}</td>
                              <td>{[{paciente.diagnosticos.length}]}</td>
                              <td style="text-align: center;"><button ng-click="generar(paciente)" style="background-color:inherit;border:none;font-size: 17px;"><span class="glyphicon glyphicon-save-file"></span></button></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
          </div>
          
        </div>
    </div>
  </div>
</div>
<script src="{% static 'vendor/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'vendor/pdfmake/vfs_fonts.js' %}"></script>
<script>   
    function body(data){
        var body = [
            [
                {text: 'Nombre', style: 'subItem'},
                {text: 'Detalle', style: 'subItem'},
                {text: 'Veces', style: 'subItem'},
                {text: 'Repeticiones', style: 'subItem'},
                {text: 'Descanso', style: 'subItem'}
            ]
        ]

        data.forEach((obj) => {
            body.push(
                [
                    {text: ' '+ obj.nombre},
                    {text: ' '+ obj.detalle},
                    {text: ' '+ obj.veces},
                    {text: ' '+ obj.repeticiones},
                    {text: ' '+ obj.descanso}
                ]
            );
        });
        return body;
    }


    function diagnostico (diagnosticos) {
        var data = [];
        diagnosticos.forEach((diag) => {
            data.push(
                {
                    text: [
                       {
                           text: "\nArea afectada: ",
                           style: 'subItem'
                       }, {
                           text: diag.area_afectada + " \n"
                       },{
                           text: "Condiciones previas: ",
                           style: 'subItem'
                       }, {
                           text: diag.condiciones_previas + " \n"
                       },{
                           text: "Receta: ",
                           style: 'subItem'
                       }, {
                           text: diag.receta + " \n\n"
                       }
                    ]
                },
                {
                    columns : [
                       { width: '*', text: ''},
                       {
                           width: '100%',
                           table: {
                               widths: ['*','*','*','*','*'],
                               body: body(diag.subrutinas)
                             }
                       },
                       { width: '*', text: ''}
                    ]
                }
            );
        })
        return data;        
    }


    function pdf(data){
        var today = new Date();
        var mm = today.getMonth()+1; //January is 0!
        today = mm+'/'+ today.getDate() +'/'+ today.getFullYear();

        var pdf = {
           content: [

               {  text: "KalaFitness APP", style: 'header' },
               {  text: "Reporte de diagnostico por paciente\n\n", style: 'subheader' },
               {
                   text: [
                       {
                           text: "Fecha: ",
                           style: 'subItem'
                       }, {
                           text: today + " \n"
                       },{
                           text: "Nombre: ",
                           style: 'subItem'
                       }, {
                           text: data.nombre + " " + data.apellido + " \n"
                       },{
                           text: "Cedula: ",
                           style: 'subItem'
                       }, {
                           text: data.cedula + " \n"
                       },{
                           text: "Genero: ",
                           style: 'subItem'
                       }, {
                           text: data.genero + " \n"
                       },{
                           text: "Ocupacion: ",
                           style: 'subItem'
                       }, {
                           text: data.ocupacion + " \n\n"
                       }
                   ]
                },{text: "Diagnosticos y sus subrutinas\n", style: 
                    {fontSize: 14, bold: true, alignment: 'center'}
                },diagnostico(data.diagnosticos)
           ],
           styles: {
               header: {
                   fontSize: 18,
                   bold: true,
                   alignment: 'center',
                   color: 'blue'
               },
               subheader: {
                   fontSize: 14,
                   bold: true,
                   alignment: 'center',
                   color: 'blue'
               },
               subItem: {
                   bold: true,
                   color: 'blue'
               },
               tableHeader: {
                   bold: true,
                   fontSize: 13,
                   color: 'black'
               }
           }
        };
        pdfMake.createPdf(pdf).download("reporte_diagnosticos_" + data.nombre + "-" + data.apellido + ".pdf");
        NProgress.done();
    }
</script>
{% endblock %}
