<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      header, main, footer {
        padding-left: 240px;
      }

      @media only screen and (max-width : 992px) {
        header, main, footer {
          padding-left: 0;
        }
      }
    </style>
    <!--AngularJS-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script>
    var app = angular.module('myApp',['ui.router']);

    app.config(function($stateProvider, $urlRouterProvider){
        $stateProvider
          .state('paciente',{
            //url: '/usuarios',
            templateUrl: 'http://localhost:8000/paciente/api',
            controller:'controllerPaciente'
          }).state('factura',{
            //url: '/facturas',
            templateUrl: 'http://localhost:8000/factura/api',
            controller:'controllerFactura'
          })
          .state('personal',{
            //url: '/facturas',
            templateUrl: 'http://localhost:8000/personal/api',
            controller:'controllerPersonal'
          });

        $urlRouterProvider.otherwise(function($injector) {
            var $state = $injector.get('$state');
            $state.go('paciente');
        });
      });

      app.controller('controllerPaciente', function($scope, $state, $http){

        $scope.crearPaciente = function(){
          //$scope.nuevo_paciente = ;
            $http.post("/paciente/crear", {
                nombre: $scope.nuevo_paciente.nombre,
                apellido: $scope.nuevo_paciente.apellido,
                cedula: $scope.nuevo_paciente.cedula,
                direccion: $scope.nuevo_paciente.direccion,
                telefono: $scope.nuevo_paciente.telefono,
                ocupacion: $scope.nuevo_paciente.ocupacion,
                genero: $scope.nuevo_paciente.genero,
                edad: $scope.nuevo_paciente.edad,
                fecha: $scope.nuevo_paciente.fecha
            }).success(function(response){
                //$scope.pacientes.push(response);
                Materialize.toast('Se Creó el paciente satisfactoriamente', 3000, 'rounded teal');
                $scope.nuevo_paciente = {};
                $state.reload();
                //$scope.$apply();
            });

        }

        $scope.eliminarPaciente = function(paciente){
          $http.get("/paciente/eliminar/" + paciente ).success(function(response){
                Materialize.toast('Se eliminó el paciente' + paciente, 3000, 'rounded teal');
                $state.reload();
                   
            });
        }

        $scope.modificarPaciente = function(paciente){
          Materialize.toast('Se modifico el paciente' + paciente, 3000, 'rounded teal');
          /*$http.get("/factura/modificar/" + paciente ).success(function(response){

                Materialize.toast('Se modifico el paciente' + paciente, 3000, 'rounded teal');
                $state.reload();
                   
          });
          */
        }

        $('.collapsible').collapsible({
          accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });

      })

      app.controller('controllerFactura', function($scope, $state, $http){

        $scope.crearFactura = function(){
          //$scope.nuevo_paciente = ;
            $http.post("/factura/crear", {
                empresa: $scope.nueva_factura.empresa,
                paciente: $scope.nueva_factura.paciente,
                serie: $scope.nueva_factura.serie,
                fecha_vencimiento: $scope.nueva_factura.fecha_vencimiento,
                subtotal: $scope.nueva_factura.subtotal,
                total: $scope.nueva_factura.total
            }).success(function(response){
                //$scope.pacientes.push(response);
                Materialize.toast('Se la factura exitosamente', 3000, 'rounded teal');
                $scope.nueva_factura = {};
                $state.reload();
                //$scope.$apply();
            });

        }

        $scope.eliminarFactura = function(factura){
          $http.post("/factura/eliminar/",{facturaId: factura}).success(function(response){
                Materialize.toast('Se eliminó el paciente' + factura, 3000, 'rounded teal');
                $state.reload();
                   
            });
        }

        $scope.modificarFactura = function(factura){
          Materialize.toast('Se modifico el paciente' + factura, 3000, 'rounded teal');
          $("modalEditarPaciente").openModal();
          /*$http.get("/factura/modificar/" + paciente ).success(function(response){

                Materialize.toast('Se modifico el paciente' + paciente, 3000, 'rounded teal');
                $state.reload();
                   
          });
          */
        }

        $('.collapsible').collapsible({
          accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });

      })

      app.controller('controllerPersonal', function($scope, $state, $http){

        $scope.crearPersonal = function(){
          //$scope.nuevo_paciente = ;
            $http.post("/personal/crear", {
                nombre: $scope.nuevo_personal.nombre,
                apellido: $scope.nuevo_personal.apellido,
                cedula: $scope.nuevo_personal.cedula,
                direccion: $scope.nuevo_personal.direccion,
                telefono: $scope.nuevo_personal.telefono,
                ocupacion: $scope.nuevo_personal.ocupacion,
                genero: $scope.nuevo_personal.genero,
                edad: $scope.nuevo_personal.edad
            }).success(function(response){
                //$scope.pacientes.push(response);
                Materialize.toast('Se Creó el personal satisfactoriamente', 3000, 'rounded teal');
                $scope.nuevo_personal = {};
                $state.reload();
                //$scope.$apply();
            });

        }

        $scope.eliminarPersonal = function(personal){
          $http.get("/personal/eliminar/" + personal ).success(function(response){
                Materialize.toast('Se eliminó el personal' + personal, 3000, 'rounded teal');
                $state.reload();
                   
            });
        }

        $scope.editarPersonal = function(personal){
          Materialize.toast('Se modifico el personal' + personal, 3000, 'rounded teal');
          /*$http.get("/factura/modificar/" + personal ).success(function(response){

                Materialize.toast('Se modifico el personal' + personal, 3000, 'rounded teal');
                $state.reload();
                   
          });
          */
        }

        $('.collapsible').collapsible({
          accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });

      })

    </script>

    <title>Kalafitness - Administrador</title>


  </head>

  <body ng-app="myApp">

    <header class="container">
      <ul id="slide-out" class="side-nav fixed">
        <li class="">
          <div class="userView teal">
            <a href="#"><img class="circle" src="imagenes/1.jpg"></a>
            <a href="#"><span class="white-text name">asdasdasdasda</span></a>
            <a href="#"><span class="white-text email">Operario</span></a>
          </div>
        </li>
        <li><a class="waves-effect teal-text" ui-sref="paciente"><i class="material-icons">assignment_ind</i>Pacientes</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect teal-text" ui-sref="factura"><i class="material-icons">library_books</i>Facturas</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect teal-text" ui-sref="personal"><i class="material-icons">supervisor_account</i>Personal</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect teal-text" href="#"><i class="material-icons">power_settings_new</i>Salir</a></li>
      </ul>
    </header>

    <main>
      <!-- real header -->
      <nav class="teal" role="navigation">
        <div class="nav-wrapper container">
          <a data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <div class="container">
        <ui-view></ui-view>
      </div>
    </main>


    <!--  Scripts-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.button-collapse').sideNav();
        $('.parallax').parallax();

      	$('.modal').modal();
      	$('input#input_text, textarea#textarea1').characterCounter();
      });
    </script>
  </body>
</html>
