
<div class="row">
  <div class="col-lg-8 col-md-6 col-xs-8 col-sm-4">
      <div class="form-group">
          <label class="control-label" >{{ form.fecha.label_tag }}</label>
         {{ form.fecha }}
      </div>
  </div>
</div>

<div class="row" style="padding-top: 20px">
    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
        <div class="form-group">
            <label class="control-label">{{ form.altura.label_tag}}</label>
            {{ form.altura }}
        </div>
        <div class="form-group">
            <label class="control-label">{{ form.musculo.label_tag}}</label>
            {{ form.musculo }}
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
        <div class="form-group">
            <label class="control-label">{{ form.peso.label_tag}}</label>
            {{ form.peso }}
        </div>
        <div class="form-group">
            <label class="control-label">{{ form.grasa_visceral.label_tag}}</label>
            {{ form.grasa_visceral }}
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
        <div class="form-group">
            <label class="control-label">{{ form.imc.label_tag}}</label>
            {{ form.imc }}
        </div>
        <div class="form-group">
            <label class="control-label">{{ form.grasa_porcentaje.label_tag}}</label>
            {{ form.grasa_porcentaje }}
        </div>
    </div>
</div>

 <div class="row" style="padding-top: 20px">
     <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
         <div class="form-group">
             <label class="control-label">{{ form.cuello.label_tag }}</label>
             {{ form.cuello }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.brazo_derecho.label_tag }}</label>
             {{ form.brazo_derecho }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.brazo_izquierdo.label_tag }}</label>
             {{ form.brazo_izquierdo }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.muslo_derecho.label_tag }}</label>
             {{ form.muslo_derecho }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.pantorrilla_izquierda.label_tag }}</label>
             {{ form.pantorrilla_izquierda }}
         </div>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
         <div class="form-group">
             <label class="control-label">{{ form.hombros.label_tag }}</label>
             {{ form.hombros }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.brazo_izquierdo.label_tag }}</label>
             {{ form.brazo_izquierdo }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.cintura.label_tag }}</label>
             {{ form.cintura }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.muslo_izquierdo.label_tag }}</label>
             {{ form.muslo_izquierdo }}
         </div>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
         <div class="form-group">
             <label class="control-label">{{ form.pecho.label_tag }}</label>
             {{ form.pecho }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.antebrazo_derecho.label_tag }}</label>
             {{ form.antebrazo_derecho }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.cadera.label_tag }}</label>
             {{ form.cadera }}
         </div>
         <div class="form-group">
             <label class="control-label">{{ form.pantorrilla_derecha.label_tag }}</label>
             {{ form.pantorrilla_derecha }}
         </div>
     </div>
 </div>