{% extends 'blank.html' %}
{% load l10n %}
{% block title %}Nuevo Paciente{% endblock %}
{% block content %}
	<form action="" onsubmit="return validarCedula();" method="post">
		{% csrf_token %}
		Cedula:<input type="number" class="cedulaValidar" name="cedula" pattern="^[0-9]{10}" title="Numero de cedula invalido" required/>
		<br/>
		nombre:<input type="text" name="nombre" required/>
		<br/>
		apellido:<input type="text" name="apellido" required/>
		<br/>
		Direccion:<input type="text" name="direccion" required/>
		</select>
		<br/>
		telefono:<input type="text" name="telefono" pattern="^[0-9]{7,10}" title="Numero de telefono invalido" required/>
		<br/>
		Ocupacion:<input type="text" name="ocupacion" required/>
		<br/>
			Genero:<select name="genero" required="">
				<option value="M">Masculino</option>
 				<option value="F">Femenino</option>
			</select>
		<br/>
		Edad:<input type="text" name="edad" pattern="^[0-9]{1,2}" title="Edad invalida" required/>
		<br/>
		Fecha:<input type="text" name="fecha" />
		<br/>
		Foto:<input class="col-sm-10" type="file" accept="image/*">
        <br/>
        <input type="submit" value="Grabar Paciente" />

	</form>
	<script>
		function validarCedula() {  		
		    var cedula =  $(".cedulaValidar").val();
			var array = cedula.split('');

		    if ( array.length != 10 || cedula == 0000000000) {
				alert("Por favor ingrese un numero de cedula valido");
		        return false;
		    } else {
		        var total = 0;
		        var digito = (array[9]*1);

		        for(var i=0; i < (array.length-1); i++ ){
		            var mult = 0;
		            if ( ( i%2 ) !== 0 ) {
		                total = total + ( array[i] * 1 );
		            }
		            else {
		                mult = array[i] * 2;
		                if ( mult > 9 )
		                  total = total + ( mult - 9 );
		                else
		                  total = total + mult;
		            }
		        }

		        var decena = total / 10;
		        decena = Math.floor( decena );
		        decena = ( decena + 1 ) * 10;
		        var final = ( decena - total );

		        if ( ( final == 10 && digito === 0 ) || ( final == digito ) ) {
					console.log("cedula valida, segunda validacion");
		            return true;
		        } else {
		            alert("Por favor ingrese un numero de cedula valido");
					return false;
		        }
		    }
		}	
	</script>
{% endblock %}
