{%  extends 'paciente/base.html' %}
{% block title %}Paciente{% endblock %}
{% block body %}

<div class="container-fluid songs-container">

    <div class="row">

        <!-- Info izquierda -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'paciente:detail' paciente.id %}">
                            <img src="https://cdn4.iconfinder.com/data/icons/line-user/512/user_info-512.png" class="img-responsive">
                    </a>
                    <h1>{{ paciente.nombre }} <small>{{ paciente.id}}</small></h1> <h1>{{ paciente.apellido }}</h1>
                </div>
            </div>
        </div>

        <!-- Info derecha -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name" class ="control-label col-sm-3">Nombre:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static">{{ paciente.nombre }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class ="control-label col-sm-3">Apellido:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static">{{ paciente.apellido }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class ="control-label col-sm-3">Cedula:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static">{{ paciente.cedula }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class ="control-label col-sm-3">Dirección:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static">{{ paciente.direccion }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class ="control-label col-sm-3">Ocupación:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static">{{ paciente.ocupacion }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class ="control-label col-sm-3">Telefono:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static">{{ paciente.telefono }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class ="control-label col-sm-3">Edad:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static">{{ paciente.edad }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

