{% extends 'blank.html' %}
{% load l10n %}
{% load static %}
{% block title %}Detalles{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
        <div class="panel panel-default" style="margin-top: 40px">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                         <b><h4>Detalles de {{ paciente.nombre }} {{ paciente.apellido }}</h4></b>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                         <a class="btn btn-link pull-right" href="{% url 'paciente:index' %}" style="text-decoration: none"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Regresar</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!-- Info izquierda -->
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                {% if paciente.foto %}
                                    <img src="/static/{{ paciente.foto }}" class="img-rounded img-responsive" height="200px">
                                {% else %}
                                    <img src="/static/usuario/noimagen.jpg" class="img-rounded img-responsive" height="200px">
                                {% endif %}
                                <!--<h4>{{ paciente.id}}</h4>
                                <h3>{{ paciente.nombre }} {{ paciente.apellido }}</h3>-->
                            </div>
                        </div>
                    </div>
                    <!-- Info derecha -->
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <form class="form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class ="control-label col-sm-3">Nombre:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ paciente.nombre }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class ="control-label col-sm-3">Apellido:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ paciente.apellido }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class ="control-label col-sm-3">Cedula:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ paciente.cedula }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class ="control-label col-sm-3">Email</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ personal.usuario.email }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class ="control-label col-sm-3">Dirección:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ paciente.direccion }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class ="control-label col-sm-3">Ocupación:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ paciente.ocupacion }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class ="control-label col-sm-3">Telefono:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ paciente.telefono }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class ="control-label col-sm-3">Edad:</label>
                                <div class="col-sm-5">
                                    <p class="form-control-static">{{ paciente.edad }}</p>
                                </div>
                            </div>
                        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}

