{% extends 'blank.html' %}
{% load l10n %}
{% block title %}{% if editar %}Editar Paciente{% else %}Nuevo paciente{% endif %}{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                <div class="panel panel-default" style="margin-top: 40px">
                    {% if editar %}
                        <div class="panel-heading"><h4><b>Editar Paciente</b></h4></div>
                    {% else %}
                        <div class="panel-heading"><h4><b>Ingrese los datos de un nuevo paciente</b></h4></div>
                    {% endif %}
                    <div class="panel-body">
                        <form class="form-vertical" action=""  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'personal/form_template.html' %}
                            <div class="form-group">
                                {% if editar %}
                                    <button type="submit" class="btn btn-success">Editar paciente</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success">Crear paciente</button>
                                {% endif %}

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $( "#id_nombre" ).prop('required', true);
    $( "#id_apellido" ).prop('required', true);
    $( "#id_cedula" ).attr("pattern", '^[0-9]{10}').attr('title','Numero de cedula invalido').prop('required', true);
    $( "#id_direccion" ).prop('required', true);
    $( "#id_telefono" ).attr("pattern", '^[0-9]{7,10}').attr('title','Se requieren de 7 a 10 caracteres').prop('required', true);
    $( "#id_ocupacion" ).prop('required', true);
    $( "#id_genero" ).prop('required', true); 
    $( "#id_edad" ).attr("pattern", '^[0-9]{1,2}').attr('title','Edad invalida, solo dos digitos').prop('required', true);   
</script>
{% endblock %}
