
{%  extends 'paciente/base.html' %}
{% block title %}Crear Paciente{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'personal/form_template.html' %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $( "#id_nombre" ).prop('required', true);
    $( "#id_apellido" ).prop('required', true);
    $( "#id_cedula" ).attr("pattern", '^[0-9]{10}').attr('title','Numero de cedula invalido').prop('required', true);
    $( "#id_direccion" ).prop('required', true);
    $( "#id_telefono" ).attr("pattern", '^[0-9]{7,10}').attr('title','Se requieren de 7 a 10 caracteres').prop('required', true);
    $( "#id_ocupacion" ).prop('required', true);
    $( "#id_genero" ).prop('required', true); 
    $( "#id_edad" ).attr("pattern", '^[0-9]{1,2}').attr('title','Edad invalida, solo dos digitos').prop('required', true);   
</script>>
{% endblock %}
