{% extends 'blank.html' %}
{% load l10n %}
{% load static %}
{% block title %}Pacientes Kala{% endblock %}
{% block content %}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="panel panel-default" style="margin-top: 40px">
        <div class="panel-heading"><h4><b>Pacientes</b></h4></div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="text-center">Detalle</th>
                            <th class="text-center">Foto</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Apellido</th>
                            <th class="text-center">Ocupacion</th>
                            <th class="text-center">Direccion</th>
                            <th class="text-center">Telefono</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for paciente in pacientes %}
                            {% if paciente.usuario.estado == "A" %}
                                <tr>
                                     <td class="text-center" scope="row"> <a href="{% url 'paciente:detail' paciente.id %}"><button type="submit" class="btn btn-default">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                            </button></a></td>
                                    {% if paciente %}
                                        <td><img src="/static/{{ paciente.foto }}" class="img-circle" height="50px" width="50px"/></td>
                                    {% else %}
                                        <td><img src="/static/usuario/noimagen.jpg" class="img-circle" width="50px" height="50px"/></td>
                                    {% endif %}

                                    <td class="capitalize">{{ paciente.usuario.nombre }}</td>
                                    <td class="capitalize">{{ paciente.usuario.apellido }}</td>
                                    <td class="capitalize">{{ paciente.usuario.ocupacion}}</td>
                                    <td class="capitalize">{{ paciente.usuario.direccion }}</td>
                                    <td>{{ paciente.usuario.telefono }}</td>
                                        <!-- Editar diagnostico-->
                                    <td  class="text-center">
                                        <a href="{% url 'paciente:editar' paciente.id %}">
                                            <button type="submit" class="btn btn-sm btn-info">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <form action="{% url 'paciente:eliminar' paciente.id %}" method="post" id="formBorrar" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="personal_id" value="{{ paciente.id }}" />
                                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#eliminarpaciente"> <!--submit-->
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <!-- Modal Dialog -->
        <div class="modal fade" id="eliminarpaciente" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar permanentemente</h4>
              </div>
              <div class="modal-body">
                <p>¿Est&aacute; seguro de eliminar el paciente?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirm">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
</div>

{% endblock %}
{% block scriptDown %}
    <!-- Dialog show event handler -->
    <script type="text/javascript">
      $('#eliminarpaciente').on('show.bs.modal', function (e) {
          $message = $(e.relatedTarget).attr('data-message');
          $(this).find('.modal-body p').text($message);
          $title = $(e.relatedTarget).attr('data-title');
          $(this).find('.modal-title').text($title);

          // Pass form reference to modal for submission on yes/ok
          var form = $(e.relatedTarget).closest('form');
          $(this).find('.modal-footer #confirm').data('form', form);
      });

      <!-- Form confirm (yes/ok) handler, submits form -->
      $('#eliminarpaciente').find('.modal-footer #confirm').on('click', function(){
          $(this).data('form').submit();
      });
    </script>
{% endblock %}