{% extends 'blank.html' %}
{% load l10n %}
{% load staticfiles %}
{% block title %}Reportes {% endblock %}
{% block content %}
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="panel panel-default" style="margin-top: 40px">
        <div class="panel-heading"><h4><b>Reporte de pacientes</b></h4></div>
        <div class="panel-body">
          <div class="container-fluid">
                <div >
                    <div class="form-group">
                      <label >Tipo de reporte:</label>
                      <select class="form-control" id="tipo">
                          <option>Total</option>
                          <option>Hombres</option>
                          <option>Mujeres</option>
                      </select>
                    </div>
                    <button id="generar" class="btn btn-default">Generar PDF</button>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>

<script src="{% static 'vendor/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'vendor/pdfmake/vfs_fonts.js' %}"></script>
<script>
  function body(data){
    var body = [
        [
            {text: 'Cedula', style: 'subItem'
            }, {text: 'Nombre', style: 'subItem'
            }, {text: 'Apellido', style: 'subItem'
            }, {text: 'Telefono', style: 'subItem'
            }, {text: 'Genero', style: 'subItem'}
        ]
    ]

    data.forEach(function(paciente){
        body.push(
            [
                {text: " " + paciente.cedula},
                {text: " " + paciente.nombre},
                {text: " " + paciente.apellido},
                {text: " " + paciente.telefono},
                {text: " " + paciente.genero}
            ]
        );
    });
    return body;
  }

  function pdf(data, nombre, tipo){
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
        dd='0'+dd
    }
    if(mm<10) {
        mm='0'+mm
    }
    today = mm+'/'+dd+'/'+yyyy;

    var pdf = {
       content: [

           {  text: "KalaFitness APP", style: 'header' },
           {  text: "Reporte de pacientes registrados en el sistema\n\n", style: 'subheader' },
           {
               text: [
                   {
                       text: "Fecha: ",
                       style: 'subItem'
                   }, {
                       text: today + "\n"
                   },{
                       text: "Tipo: ",
                       style: 'subItem'
                   }, {
                       text: tipo + "\n\n"
                   }
               ]
           },
           {
               columns : [
                   { width: '*', text: ''},
                   {
                       width: 'auto',
                       table: {
                           widths: ['auto','*','*','auto','auto'],
                           body: body(data)
                         }
                   },
                   { width: '*', text: ''}
               ]
           }
       ],
       styles: {
           header: {
               fontSize: 18,
               bold: true,
               alignment: 'center',
               color: 'blue'
           },
           subheader: {
               fontSize: 14,
               bold: true,
               alignment: 'center',
               color: 'blue'
           },
           subItem: {
               bold: true,
               color: 'blue'
           },
           tableHeader: {
               bold: true,
               fontSize: 13,
               color: 'black'
           }
       }
    };

    pdfMake.createPdf(pdf).download(nombre);
  };

  $("#generar").click(function(){
    var value = $('#tipo').find(":selected").text();
    setTimeout(function() { alert("Generando reporte, por favor espere") }, 1);

    if (value == "Total") {
      $.get("/paciente/reporte/totales", function(data, status){
        console.log(data.pacientes);
        pdf(data.pacientes, "reporte_pacientes.pdf", value);
      });
    } else if (value == 'Hombres') {
      $.get("/paciente/reporte/hombres", function(data, status){
        console.log(data.pacientes);
        pdf(data.pacientes, "reporte_pacientesHombres.pdf", value);
      });
    } else if (value == 'Mujeres') {
      $.get("/paciente/reporte/mujeres", function(data, status){
        console.log(data.pacientes);
        pdf(data.pacientes, "reporte_pacientesMujeres.pdf", value);
      });
    }
  });

</script>
{% endblock %}
