{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Kala Fitness App{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <!--link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body style="font-family: 'Montserrat'">
    {% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            {# <h2>Su cuenta no posee los permisos para ver esta página.</h2>#}
        {% endif %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Restablecimiento de contrase&ntilde;a enviado</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'login' %}">
                            <fieldset>
                                {% csrf_token %}
                                <div class="text-justify">
                                    <p>Le hemos enviado por email las instrucciones para restablecer la contraseña,
                                    si es que existe una cuenta con la dirección electrónica que indicó.</p>
                                    <p>Debería recibirlas en breve, si no recibe un correo, por favor asegúrese de que ha introducido la dirección
                                    de correo con la que se registró y verifique su carpeta de spam.</p>
                                </div>

                                <a class="btn btn-success" href="{% url 'login' %}">Iniciar Sesi&oacute;n</a>
                                <a href="{% url 'password_reset' %}" class="btn btn-link">Volver a ingresar email</a>
                                {#  <p><a href="{% url 'password_reset' %}">¿Olvid&oacute; su constrase&ntilde;a?</a></p>#}
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>
