{%  extends 'personal/base.html' %}
{% block title %}Personal{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
        <div class="col-sm-12 col-md-7">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for personal in all_personal %}
                {% if personal.rol.es_personal %}
                    <tr>
                        <th scope="row"> <a href="{% url 'personal:detail' personal.id %}">{{ personal.id}}</a></th>
                        <td>{{ personal.nombre }}</td>
                        <td>{{ personal.apellido }}</td>
                        <td>{{ personal.rol.tipo}}</td>
                        <td>{{ personal.direccion }}</td>
                        <td>{{ personal.telefono }}</td>
                        <td>
                            <!-- Delete personal -->
                            <form action="{% url 'personal:eliminarPersonal' personal.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="personal_id" value="{{ personal.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
{% endblock %}

