{% extends 'blank.html' %}
{% load l10n %}
{% block title %}Mensajes{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="panel panel-default" style="margin-top: 40px">

        <div class="panel-body">

            <div class="container-fluid">
                <div class="row">
                    {% if mensajes %}
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                        {% for m in mensajes %}
                         <div class="list-group">
                             {% for u in usuarios %}
                                {% if u.usuario == m.sender %}
                             <a href="{% url 'personal:leerMensaje' m.pk %}" class="list-group-item"> <span class="glyphicon glyphicon-envelope"> Mensaje de {{ u.nombre }} {{ u.apellido }}</span></a>
                                {% endif %}
                             {% endfor %}
                         </div>
                        {% endfor %}

                    </div>
                    <div class="col-sm-4"></div>
                    {% else %}
                    <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="alert alert-info">
                                No se encuentran mensajes que presentar
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}