{% extends 'blank.html' %}
{% load l10n %}
{% block title %}Mensajes{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4">
                <h4>Nuevo Mensaje</h4>
               <form method="post" action="{% url 'personal:nuevoMensaje' %}">
                    {% csrf_token %}

                      <label class="col-sm-2">Para</label>
                      <div class="col-sm-10">
                          <select class="form-control" id="recipiente" placeholder="comma separated list of recipients">
                            {% for p in personal %}
                              {% if p.rol.es_personal %}
                                <option value="{{ p.usuario.cedula }}">{{ p.nombre }} {{ p.apellido }}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                      </div>
                      <label class="col-sm-12" for="mensaje">Mensaje</label>
                      <div class="col-sm-12"><textarea class="form-control" id="mensaje" rows="18"></textarea></div>
                        <inpu class="col-sm-12">
                            <input type="submit" class="btn btn-primary ">Enviar</inpu>
                        </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>