{% extends 'blank.html' %}
{% load l10n %}
{% load staticfiles %}
{% block title %}Reportes {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/ndv3/nv.d3.min.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script src="{% static 'vendor/ndv3/d3.min.js' %}"></script>
<script src="{% static 'vendor/ndv3/nv.d3.min.js' %}"></script>
<script src="{% static 'vendor/ndv3/angular-ndv3.min.js' %}"></script>

<script type="text/javascript">
    angular.module('app', ['nvd3'])
        .config(["$interpolateProvider", (xyz) => {
            xyz.startSymbol('{[{').endSymbol('}]}');
        }])
        .controller('main', ["$http", "$scope", ($http, $scope)=>{

            var color = ["#901F61", "#009877", "#D64227", "#FED115", "#ADBF2B"];

            $scope.cargar = (tipo) => {
                if (tipo == "rol") {
                    $scope.data = [{
                        key: "fisioterapista",
                        y: 0,
                        color: color[0]
                    },
                    {
                        key: "nutricionista",
                        y: 0,
                        color: color[1]
                    }]

                    $scope.usuarios.forEach((usuario)=>{
                        if (usuario.rol == "fisioterapista") {
                            $scope.data[0].y++
                        } else {
                            $scope.data[1].y++
                        }  
                    })   
                } else {
                    $scope.data = [{
                        key: "Masculino",
                        y: 0,
                    },
                    {
                        key: "Femenino",
                        y: 0,
                    }];

                    $scope.usuarios.forEach((usuario)=>{
                        if (usuario.genero == "M") {
                            $scope.data[0].y++
                        } else {
                            $scope.data[1].y++
                        }
                    })   
                }
            }

            NProgress.start();
            $http.get("/personal/reporte/total/")
              .then((res) => {
                  var usuarios = res.data.data;
                  $scope.usuarios = usuarios;
                  $scope.data = [{
                      key: "Masculino",
                      y: 0,
                  },
                  {
                      key: "Femenino",
                      y: 0,
                  }];

                  usuarios.forEach((usuario)=>{
                      if (usuario.genero == "M") {
                          $scope.data[0].y++
                      } else {
                          $scope.data[1].y++
                      }
                  })
                  NProgress.done()

              }, (e) => {
                  NProgress.done()
                  alert("No se ha podido cargar la informacion")                  
              })

            $scope.options = {
                chart: {
                    type: 'pieChart',
                    height: 500,
                    x: function (d) { return d.key; },
                    y: function (d) { return d.y; },
                    showLabels: false,
                    duration: 500,
                    labelThreshold: 0,
                    labelSunbeamLayout: true,
                    legendPosition: "right",
                    legend: {
                        margin: {
                            top: 5,
                            right: 35,
                            bottom: 5,
                            left: 0
                        }
                    }
                }
            }

        }])
</script>
<div id="page-wrapper" ng-app="app">
  <div class="container-fluid" ng-controller="main">
    <div class="panel panel-default" style="margin-top: 40px">
        <div class="panel-heading"><h4><b>Reportes estadistico de personal</b></h4></div>
        <div class="panel-body">
          <div class="container-fluid">
              <div class="form-group">
                <label >Tipo de reporte:</label>
                <select ng-model="tipo" ng-change="cargar(tipo)" class="form-control">
                    <option value="rol">Por rol</option>
                    <option ng-selected="selected" value="genero">Por género</option>
                </select>
                <nvd3 options="options" data="data"></nvd3>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script>
  /*
  function body(data){
    var body = [
        [
            {text: 'Cedula', style: 'subItem'},
            {text: 'Nombre', style: 'subItem'},
            {text: 'Apellido', style: 'subItem'},
            {text: 'Telefono', style: 'subItem'},
            {text: 'Rol', style: 'subItem'}
        ]
    ]

    data.forEach(function(obj){
        body.push(
            [
                {text: ' ' + obj.cedula},
                {text: ' ' + obj.nombre},
                {text: ' ' + obj.apellido},
                {text: ' ' + obj.telefono},
                {text: ' ' + obj.rol}
            ]
        );
    });
    return body;
  }

  function pdf(data, nombre, tipo){
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
        dd='0'+dd
    }
    if(mm<10) {
        mm='0'+mm
    }
    today = mm+'/'+dd+'/'+yyyy;

    var pdf = {
       content: [

           {  text: "KalaFitness APP", style: 'header' },
           {  text: "Reporte de personal en el sistema\n\n", style: 'subheader' },
           {
               text: [
                   {
                       text: "Fecha: ",
                       style: 'subItem'
                   }, {
                       text: today + "\n"
                   },{
                       text: "Tipo: ",
                       style: 'subItem'
                   }, {
                       text: tipo + "\n\n"
                   }
               ]
           },
           {
               columns : [
                   { width: '*', text: ''},
                   {
                       width: '100%',
                       table: {
                           widths: ['*','*','*','*','*'],
                           body: body(data)
                         }
                   },
                   { width: '*', text: ''}
               ]
           }
       ],
       styles: {
           header: {
               fontSize: 18,
               bold: true,
               alignment: 'center',
               color: 'blue'
           },
           subheader: {
               fontSize: 14,
               bold: true,
               alignment: 'center',
               color: 'blue'
           },
           subItem: {
               bold: true,
               color: 'blue'
           },
           tableHeader: {
               bold: true,
               fontSize: 13,
               color: 'black'
           }
       }
    };
    pdfMake.createPdf(pdf).download(nombre);
  };

  $("#generar").click(()=>{
    var value = $('#tipo').find(":selected").text();
    NProgress.start();
    if (value == "Total") {
        $.get("/personal/reporte/total", (res, status)=>{
          console.log(res.data);
          pdf(res.data, "reporte_total.pdf", value);
          NProgress.done();
        })
    } else if (value == 'Rol'){
        $.get("/personal/reporte/rol", (res, status)=>{
          console.log(res.data);
          pdf(res.data, "reporte_rol.pdf", value);
          NProgress.done();
        })
    } else if (value == 'Hombres') {
        $.get("/personal/reporte/hombres", (res, status)=>{
          console.log(res.data);
          pdf(res.data, "reporte_hombres.pdf", value);
          NProgress.done();
        })
    } else if (value == 'Mujeres') {
        $.get("/personal/reporte/mujeres", (res, status)=>{
          console.log(res.data);
          pdf(res.data, "reporte_mujeres.pdf", value);
          NProgress.done();
        })
    }
  })

*/
</script>
{% endblock %}
