{% extends 'blank.html' %}
{% load l10n %}
{% load staticfiles %}
{% block title %}Reportes {% endblock %}
{% block content %}
<script src="{% static 'vendor/nprogress/nprogress.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script type="text/javascript">
  angular.module('app', [])
    .config(["$interpolateProvider", (fercarvo) => {
        fercarvo.startSymbol('{[{').endSymbol('}]}');
    }])
    .controller('main', ["$http", "$scope", (abc, fed) => {
        setTimeout(() => {alert("Cargando usuarios, por favor espere")}, 1)

        NProgress.start();
        abc.get("/nutricion/reporte/")
          .then( (res)=>{
              fed.pacientes = res.data.pacientes;
              console.log(fed.pacientes);
              NProgress.done();

          }, ()=>{ alert("No se ha podido cargar la informacion") })

        fed.generar = (xyz) => {
            console.log(xyz);
            pdf(xyz, "reporte_diagnosticosPDF.pdf");
        }
    }])
</script>
<div id="page-wrapper" ng-app="app">
  <div class="container-fluid" ng-controller="main">
    <div class="panel panel-default" style="margin-top: 40px">
        <div class="panel-heading"><h4><b>Generar reporte de ficha medica por paciente</b></h4></div>

        <div class="panel-body">
          <div class="container-fluid">
                <div >
                    <div class="form-group">
                      <input ng-model="buscar.nombre" class="form-control" placeholder="Filtrar por nombre"></input>
                      <table style="margin-top: 15px;" class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Ocupacion</th>
                              <th>Genero</th>
                              <th># Fichas</th>
                              <th style="text-align: center;">Generar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="paciente in pacientes | orderBy:'nombre' | filter:buscar">
                              <td>{[{paciente.nombre}]}</td>
                              <td>{[{paciente.apellido}]}</td>
                              <td>{[{paciente.ocupacion}]}</td>
                              <td>{[{paciente.genero}]}</td>
                              <td>{[{paciente.fichas.length}]}</td>
                              <td style="text-align: center;"><button ng-click="generar(paciente)" style="background-color:inherit;border:none;font-size: 17px;"><span class="glyphicon glyphicon-save-file"></span></button></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
          </div>

        </div>
    </div>
  </div>
</div>
<script src="{% static 'vendor/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'vendor/pdfmake/vfs_fonts.js' %}"></script>
<script>
    function ficha (fichas) {
        var data = [];
        var i=0;
        fichas.forEach((d) => {
            i++
            data.push(
                {text: "Ficha de nutricion #" + i + "\n", style: 
                    {fontSize: 15, bold: true, alignment: 'center'}
                },{
                    text: [
                       {
                           text: "Frecuencia de consumo\n", style: {bold: true}
                       }
                    ]
                },{
                    columns : [
                       {
                           width: '100%',
                           table: {
                               widths: ['*','*','*','*'],
                               body: [
                                  [
                                      {text: 'Lacteos', style: 'subItem'},
                                      {text: 'Vegetales', style: 'subItem'},
                                      {text: 'Frutas', style: 'subItem'},
                                      {text: 'Cho', style: 'subItem'}
                                  ],
                                  [
                                      {text: ' '+ d.frecuencia_consumo.lacteos},
                                      {text: ' '+ d.frecuencia_consumo.vegetales},
                                      {text: ' '+ d.frecuencia_consumo.frutas},
                                      {text: ' '+ d.frecuencia_consumo.cho}
                                  ],[
                                      {text: 'Carnes', style: 'subItem'},
                                      {text: 'Comidas rapidas', style: 'subItem'},
                                      {text: 'Frituras', style: 'subItem'},
                                      {text: 'Enlatados', style: 'subItem'}
                                  ],
                                  [
                                      {text: ' '+ d.frecuencia_consumo.carnes},
                                      {text: ' '+ d.frecuencia_consumo.comidas_rapidas},
                                      {text: ' '+ d.frecuencia_consumo.frituras},
                                      {text: ' '+ d.frecuencia_consumo.enlatados}
                                  ],[
                                      {text: 'Gaseosas.', style: 'subItem'},
                                      {text: 'Energizantes.', style: 'subItem'},
                                      {text: 'Infusiones.', style: 'subItem'},
                                      {text: ' ', fillColor: 'black'}
                                  ],
                                  [
                                      {text: ' '+ d.frecuencia_consumo.gaseosas},
                                      {text: ' '+ d.frecuencia_consumo.energizantes},
                                      {text: ' '+ d.frecuencia_consumo.infusiones},
                                      {text: ' ', fillColor: "black"}
                                  ]
                              ]
                          }
                      }
                   ]
                },{
                    text: [
                       {
                           text: "\nRequerimientos\n", style: {bold: true}
                       }
                    ]
                },{
                    columns : [
                       {
                           width: 'auto',
                           table: {
                               widths: ['*','*'],
                               body: [
                                        [
                                            {text: 'Proteinas %', style: 'subItem'},
                                            {text: 'Grasas %', style: 'subItem'}
                                        ],
                                        [
                                            {text: ' '+ d.requerimientos.proteina},
                                            {text: ' '+ d.requerimientos.grasas}
                                        ],[
                                            {text: 'Carbohidratos %', style: 'subItem'},
                                            {text: 'Tipo de dieta', style: 'subItem'}
                                        ],
                                        [
                                            {text: ' '+ d.requerimientos.carbohidratos},
                                            {text: ' '+ d.requerimientos.dieta}
                                        ]
                                    ]
                             }
                       }
                    ]
                },{
                    text: [
                       {
                           text: "\n"
                       }
                    ]
                }
            );
        })
        return data;        
    }


    function pdf(paciente){
        var today = new Date();
        var mm = today.getMonth()+1; //January is 0!
        today = mm+'/'+ today.getDate() +'/'+ today.getFullYear();

        var pdf = {
           content: [

               {  text: "KalaFitness APP", style: 'header' },
               {  text: "Reporte de fichas nutricionales por paciente\n\n", style: 'subheader' },
               {
                   text: [
                       {
                           text: "Fecha: ",
                           style: 'subItem'
                       }, {
                           text: today + " \n"
                       },{
                           text: "Nombre: ",
                           style: 'subItem'
                       }, {
                           text: paciente.nombre + " " + paciente.apellido + " \n"
                       },{
                           text: "Cedula: ",
                           style: 'subItem'
                       }, {
                           text: paciente.cedula + " \n"
                       },{
                           text: "Genero: ",
                           style: 'subItem'
                       }, {
                           text: paciente.genero + " \n"
                       },{
                           text: "Ocupacion: ",
                           style: 'subItem'
                       }, {
                           text: paciente.ocupacion + " \n\n"
                       }
                   ]
                },ficha(paciente.fichas)
           ],
           styles: {
               header: {
                   fontSize: 18,
                   bold: true,
                   alignment: 'center',
                   color: 'blue'
               },
               subheader: {
                   fontSize: 14,
                   bold: true,
                   alignment: 'center',
                   color: 'blue'
               },
               subItem: {
                   bold: true,
                   color: 'blue'
               },
               tableHeader: {
                   bold: true,
                   fontSize: 13,
                   color: 'black'
               }
           }
        };
        pdfMake.createPdf(pdf).download("fichas_Paciente.pdf");
    }
</script>
<script>
/*
  function body(data){
    var body = [
        [
            {text: 'ID', style: 'subItem'
            }, {text: 'Nombre', style: 'subItem'
            }, {text: 'Apellido', style: 'subItem'
            }
        ]
    ]

    data.forEach(function(obj){
        body.push(
            [
                {text:
                    (function(){
                        if (obj.cedula) { return obj.cedula;}
                        return "";
                    })()

                },{text:
                    (function(){
                        if (obj.nombre) { return obj.nombre;}
                        return "";
                    })()

                },{text:
                    (function(){
                        if (obj.apellido) { return obj.apellido;}
                        return "";
                    })()
                },{text:
                    (function(){
                        if (obj.telefono) { return obj.telefono;}
                        return "";
                    })()
                },{text:
                    (function(){
                        if (obj.rol) { return obj.rol;}
                        return "";
                    })()
                }
            ]
        );
    });
    return body;
  }

  function pdf(paciente, nombre, tipo, cedula){
    console.log(paciente);
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
        dd='0'+dd
    }
    if(mm<10) {
        mm='0'+mm
    }
    today = mm+'/'+dd+'/'+yyyy;

    var pdf = {
       content: [

           {  text: "KalaFitness APP", style: 'header' },
           {  text: "Reporte de ficha medica\n\n", style: 'subheader' },
           {
               text: [
                   {
                       text: "Fecha: ",
                       style: 'subItem'
                   }, {
                       text: today + "\n"
                   },{
                       text: "Tipo: ",
                       style: 'subItem'
                   }, {
                       text: tipo + "\n"
                   },{
                       text: "Paciente: ",
                       style: 'subItem'
                   }, {
                       text: cedula + "\n\n"
                   }
               ]
           },'The following table has nothing more than a body array',
           {
               columns : [
                   { width: '*', text: ''},
                   {
                       width: 'auto',
                       table: {
                           widths: ['*','*','*','*','*'],
                           body: [
                              [
                                 {text: 'ID', style: 'subItem'
                                 }, {text: 'Nombre', style: 'subItem'
                                 }, {text: 'Apellido', style: 'subItem'}
                             ],[
                                {text: "" + paciente.id, style: 'subItem'},
                                {text: "" + paciente.nombre, style: 'subItem'},
                                {text: "" + paciente.apellido, style: 'subItem'}
                              ]
                            ]
                         }
                   },
                   { width: '*', text: ''}
               ]
           },{text: 'Fichas medicas del paciente', style: 'subheader'},
           {
               columns : [
                   { width: '*', text: ''},
                   {
                       width: 'auto',
                       table: {
                           widths: ['*','*','*','*','*'],
                           body: [[
                              {text: 'Ficha', style: 'subItem' },
                              {text: 'Proteina', style: 'subItem' },
                              {text: 'Grasas', style: 'subItem' },
                              {text: 'Carbohidratos', style: 'subItem' },
                              {text: 'Dieta', style: 'subItem' }
                           ],[
                              {text: "0", style: 'subItem'},
                              {text: " " + paciente.fichas[0].proteina, style: 'subItem'},
                              {text: " " + paciente.fichas[0].grasas, style: 'subItem'},
                              {text: " " + paciente.fichas[0].carbohidratos, style: 'subItem'},
                              {text: " " + paciente.fichas[0].dieta, style: 'subItem'}
                           ],[
                              {text: "1", style: 'subItem'},
                              {text: " " + paciente.fichas[1].proteina, style: 'subItem'},
                              {text: " " + paciente.fichas[1].grasas, style: 'subItem'},
                              {text: " " + paciente.fichas[1].carbohidratos, style: 'subItem'},
                              {text: " " + paciente.fichas[1].dieta, style: 'subItem'}
                           ]]
                         }
                   },
                   { width: '*', text: ''},
               ]
           }
       ],
       styles: {
           header: {
               fontSize: 18,
               bold: true,
               alignment: 'center',
               color: 'blue'
           },
           subheader: {
               fontSize: 14,
               bold: true,
               alignment: 'center',
               color: 'blue'
           },
           subItem: {
               bold: true,
               color: 'blue'
           },
           tableHeader: {
               bold: true,
               fontSize: 13,
               color: 'black'
           }
       }
    };
    pdfMake.createPdf(pdf).download(nombre);
  };

  $("#generar").click(function(){
    var value = $('#cedula').val();

    $.get("/nutricion/reporte/" + value, function(res, status){
      //console.log(res);
      pdf(res, "reporte_fichas.pdf", "Ficha medica", value);
    });

  });
*/

</script>
{% endblock %}
