{% extends 'blank.html' %}
{% load l10n %}
{% load staticfiles %}
{% block title %}Reportes {% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script type="text/javascript">
  angular.module('app', [])
    .config(["$interpolateProvider", (fercarvo) => {
        fercarvo.startSymbol('{[{').endSymbol('}]}');
    }])
    .controller('main', ["$http", "$scope", (abc, fed) => {
        NProgress.start();
        abc.get("/nutricion/reporte/")
          .then( (res)=>{
              fed.pacientes = res.data.pacientes;
              console.log(fed.pacientes);
              NProgress.done();

          }, ()=>{
            NProgress.done() 
            alert("No se ha podido cargar la informacion")            
          })

        fed.generar = (xyz) => {
            console.log(xyz);
            pdf(xyz, "reporte_diagnosticosPDF.pdf");
            NProgress.done();
        }
    }])
</script>
<div id="page-wrapper" ng-app="app">
  <div class="container-fluid" ng-controller="main">
    <div class="panel panel-default" style="margin-top: 40px">
        <div class="panel-heading"><h4><b>Generar reporte de ficha medica por paciente</b></h4></div>

        <div class="panel-body">
          <div class="container-fluid">
                <div >
                    <div class="form-group">
                      <input ng-model="buscar.nombre" class="form-control" placeholder="Filtrar por nombre"></input>
                      <table style="margin-top: 15px;" class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Ocupacion</th>
                              <th>Genero</th>
                              <th># Fichas</th>
                              <th style="text-align: center;">Generar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="paciente in pacientes | orderBy:'nombre' | filter:buscar">
                              <td>{[{paciente.nombre}]}</td>
                              <td>{[{paciente.apellido}]}</td>
                              <td>{[{paciente.ocupacion}]}</td>
                              <td>{[{paciente.genero}]}</td>
                              <td>{[{paciente.fichas.length}]}</td>
                              <td style="text-align: center;"><button ng-click="generar(paciente)" style="background-color:inherit;border:none;font-size: 17px;"><span class="glyphicon glyphicon-save-file"></span></button></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
          </div>

        </div>
    </div>
  </div>
</div>
<script src="{% static 'vendor/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'vendor/pdfmake/vfs_fonts.js' %}"></script>
<script>
    function ficha (fichas) {
        var data = [];
        var i=0;
        fichas.forEach((d) => {
            i++
            data.push(
                {text: "Ficha de nutrición #" + i + "\n", style: 
                    {fontSize: 15, bold: true, alignment: 'center'}
                },{
                    text: [
                       {
                           text: "Frecuencia de consumo\n", style: {bold: true}
                       }
                    ]
                },{
                    columns : [
                       {
                           width: '100%',
                           table: {
                               widths: ['*','*','*','*'],
                               body: [
                                  [
                                      {text: 'Lacteos', style: 'subItem'},
                                      {text: 'Vegetales', style: 'subItem'},
                                      {text: 'Frutas', style: 'subItem'},
                                      {text: 'Cho', style: 'subItem'}
                                  ],
                                  [
                                      {text: ' '+ d.frecuencia_consumo.lacteos},
                                      {text: ' '+ d.frecuencia_consumo.vegetales},
                                      {text: ' '+ d.frecuencia_consumo.frutas},
                                      {text: ' '+ d.frecuencia_consumo.cho}
                                  ],[
                                      {text: 'Carnes', style: 'subItem'},
                                      {text: 'Comidas rapidas', style: 'subItem'},
                                      {text: 'Frituras', style: 'subItem'},
                                      {text: 'Enlatados', style: 'subItem'}
                                  ],
                                  [
                                      {text: ' '+ d.frecuencia_consumo.carnes},
                                      {text: ' '+ d.frecuencia_consumo.comidas_rapidas},
                                      {text: ' '+ d.frecuencia_consumo.frituras},
                                      {text: ' '+ d.frecuencia_consumo.enlatados}
                                  ],[
                                      {text: 'Gaseosas.', style: 'subItem'},
                                      {text: 'Energizantes.', style: 'subItem'},
                                      {text: 'Infusiones.', style: 'subItem'},
                                      {text: ' ', fillColor: '#e1e1e1'}
                                  ],
                                  [
                                      {text: ' '+ d.frecuencia_consumo.gaseosas},
                                      {text: ' '+ d.frecuencia_consumo.energizantes},
                                      {text: ' '+ d.frecuencia_consumo.infusiones},
                                      {text: ' ', fillColor: "#e1e1e1"}
                                  ]
                              ]
                          }
                      }
                   ]
                },{
                    text: [
                       {
                           text: "\nRequerimientos\n", style: {bold: true}
                       }
                    ]
                },{
                    columns : [
                       {
                           width: 'auto',
                           table: {
                               widths: ['*','*'],
                               body: [
                                        [
                                            {text: 'Proteinas %', style: 'subItem'},
                                            {text: 'Grasas %', style: 'subItem'}
                                        ],
                                        [
                                            {text: ' '+ d.requerimientos.proteina},
                                            {text: ' '+ d.requerimientos.grasas}
                                        ],[
                                            {text: 'Carbohidratos %', style: 'subItem'},
                                            {text: 'Tipo de dieta', style: 'subItem'}
                                        ],
                                        [
                                            {text: ' '+ d.requerimientos.carbohidratos},
                                            {text: ' '+ d.requerimientos.dieta}
                                        ]
                                    ]
                             }
                       }
                    ]
                },{
                    text: [
                       {
                           text: "\n"
                       }
                    ]
                }
            );
        })
        return data;        
    }


    function pdf(paciente){
        var today = new Date();
        var mm = today.getMonth()+1; //January is 0!
        today = mm+'/'+ today.getDate() +'/'+ today.getFullYear();

        var pdf = {
           content: [

               {  text: "KalaFitness APP", style: 'header' },
               {  text: "Reporte de fichas nutricionales por paciente\n\n", style: 'subheader' },
               {
                   text: [
                       {
                           text: "Fecha: ",
                           style: 'subItem'
                       }, {
                           text: today + " \n"
                       },{
                           text: "Nombre: ",
                           style: 'subItem'
                       }, {
                           text: paciente.nombre + " " + paciente.apellido + " \n"
                       },{
                           text: "Cedula: ",
                           style: 'subItem'
                       }, {
                           text: paciente.cedula + " \n"
                       },{
                           text: "Genero: ",
                           style: 'subItem'
                       }, {
                           text: paciente.genero + " \n"
                       },{
                           text: "Ocupacion: ",
                           style: 'subItem'
                       }, {
                           text: paciente.ocupacion + " \n\n"
                       }
                   ]
                },ficha(paciente.fichas)
           ],
           styles: {
               header: {
                   fontSize: 18,
                   bold: true,
                   alignment: 'center',
                   color: 'blue'
               },
               subheader: {
                   fontSize: 14,
                   bold: true,
                   alignment: 'center',
                   color: 'blue'
               },
               subItem: {
                   bold: true,
                   color: 'blue'
               },
               tableHeader: {
                   bold: true,
                   fontSize: 13,
                   color: 'black'
               }
           }
        };
        pdfMake.createPdf(pdf).download("fichas_Paciente.pdf");
    }
</script>
{% endblock %}
