<h4 class="text-center teal-text">Usuarios</h4>

<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div id="nuevPac" class="collapsible-header"><i class="material-icons">add</i>Nuevo Paciente</div>
      <div class="collapsible-body" style="padding-left:20px;padding-right:20px">
        <form ng-submit="agregar()">
              <div class="modal-body">
                  <div class="form-group">
                    <input type="text" class="form-control" name="nombre" ng-model="nuevo_paciente.nombre" placeholder="Nombre" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="apellido" ng-model="nuevo_paciente.apellido" placeholder="Apellido" required>
                  </div>
                  <div class="form-group">
                    <input type="text" pattern="^[0-9]{10}" title="Numero de cedula invalido" class="form-control" name="cedula" ng-model="nuevo_paciente.cedula" placeholder="C&eacute;dula" required>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="correo" ng-model="nuevo_paciente.correo" placeholder="Correo" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="direccion" ng-model="nuevo_paciente.direccion" placeholder="Direcci&oacute;n" required>
                  </div>
                  <div class="form-group">
                    <input type="text" pattern="^[0-9]{7,10}" title="Numero de telefono invalido" class="form-control" name="telefono" ng-model="nuevo_paciente.telefono" placeholder="Tel&eacute;fono" required=>
                  </div>
              </div>
              <div class="row modal-footer">
                <button type="reset" class="btn btn-default col s4 right" ng-click="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-primary col s4">Crear</button>
              </div>
            </form>
      </div>
    </li>

    <li>
        <div id="listPac" class="collapsible-header large active"><i class="material-icons">label</i>Lista de usuarios</div>
        <div class="collapsible-body" style="padding-left:20px;padding-right:20px">
        <div ><input type="search" name="busqueda" ng-model="busqueda.$" placeholder="Buscar paciente"></div>
          <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-center">Nombre</th>
              <th class="text-center">Correo</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="paciente in pacientes">
                  <td class="text-center nombre"> {{ paciente.nombre }} {{ paciente.apellido }}</td>
                  <td class="text-center correo"> {{ paciente.correo }} </td>
                  <td class="text-center editar"><button type="button" style="border:none;background:none" class="small material-icons" href="#modal1" ng-click="editarPaciente(paciente)">mode_edit</button></td>
                  <td class="text-center eliminar"><button type="button" style="border:none;background:none" class="small material-icons">delete</button></td>
              </tr>
          </tbody>
        </table>
        </div>
    </li>
</ul>

<!-- Modal Structure -->

<div id="modal1" class="modal" style="padding-left:25px;padding-right:25px;padding-top:30px;margin-top:-10px">
  <h5 class="text-center teal-text">Datos de Paciente</h5>
  <form ng-submit="putPaciente()">
    <div class="container-fluid center">
        <div class="form-group">
          <input type="text" class="form-control" name="nombre" required ng-model="editar_paciente.nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="correo" required ng-model="editar_paciente.correo" placeholder="Correo">
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary col s4" >Editar</button>
          <button class="btn btn-primary col s4 right">Cerrar</button>
        </div>
    </div>
  </form>
</div>