<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <title>{% block title %}Kala App{% endblock %}</title>
    <!-- Loads the path to your static files -->
    {% load staticfiles %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'personal/style.css' %}" />

    <style>
div.well{
  height: 250px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}
</style>
</head>
<body>
    {% block content %}


	    {% if form.errors %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> Su usuario o contraseña son incorrectos
            </div>
        {% endif %}


{% if next %}
	        {% if user.is_authenticated %}
                <h2>Su cuenta no posee los permisos para ver esta pagina</h2>
	        {% endif %}
	    {% endif %}
<div class="container">

  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                <label>Usuario</label>
                {{form.username}}
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    {{form.password}}
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                    <button type="submit" class="btn btn-default">Ingreso</button>
            </form>
        </div>
    </div>
  </div>
</div>




    {% endblock %}

</body>
</html>