{% extends 'factura/base.html' %}
{% block title %}Crear Factura{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3" >Empresa:</label>
                                <select id="empresa_id" name="empresa" class="col-sm-4">
                                {% if empresas %}
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" >Paciente:</label>
                                <select id="paciente_id" name="paciente" class="col-sm-4">
                                {% if pacientes %}
                                    {% for paciente in pacientes %}
                                        <option value="{{ paciente.id }}">{{ paciente.id }} - {{ paciente.nombre_completo }}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" >Serie:</label><input class="col-sm-4" type="text" name="serie" />
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" >Fecha de vencimiento:</label><input class="col-sm-4" type="date" name="fecha_vencimiento" />
                            </div>
                            <div class="form-group">
                                 <label class="control-label col-md-3" >Subtotal:</label><input class="col-sm-4" type="number" name="subtotal" />
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" >Total(+ 12% IVA):</label><input class="col-sm-4" type="number" name="total" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success" style="margin-left: 180px">Añadir Factura</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}