{%  extends 'factura/base.html' %}
{% block title %}Facturas{% endblock %}

{% block body %}
    {% load staticfiles %}



    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-12 col-md-10">
            {% if messages %}
                <div class="row messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissable"{% endif %} style="margin-left:18px;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                  <th class="text-left">#</th>
                  <th class="text-left">Empresa</th>
                  <th class="text-left">Paciente</th>
                  <th class="text-left">Serie</th>
                  <th class="text-left">Fecha de vencimiento</th>
                  <th class="text-left">Subtotal</th>
                  <th class="text-left">Total</th>
                  <th class="text-left">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                {% for factura in facturas %}
                        <tr>
                            <th scope="row"> {{factura.id}}</th>
                            <td>{{ factura.empresa__nombre }}</td>
                            <td>{{ factura.paciente_id }} - {{ factura.paciente__usuario__apellido }} {{ factura.paciente__usuario__nombre }}</td>
                            <td>{{ factura.serie}}</td>
                            <td>{{ factura.fecha_vencimiento }}</td>
                            <td>{{ factura.subtotal }}</td>
                            <td>{{ factura.total }}</td>
                            <td>
                                <!-- Eliminar Factura-->
                                <form action="{% url 'factura:EliminarFactura' factura.id %} " method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="factura_id" value="{{ factura.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}